<footer class="footer">
  <div class="footer-container">



    <div class="footer-column">
      <h4>Our Services</h4>
      <ul>
        <li (click)="navigateTo('/webdesign')">
          <mat-icon>keyboard_arrow_right</mat-icon> Web Design
        </li>

        <li (click)="navigateTo('/webdevelopment')">
          <mat-icon>keyboard_arrow_right</mat-icon> Web Development
        </li>

        <li (click)="navigateTo('/softwaredevelopment')">
          <mat-icon>keyboard_arrow_right</mat-icon> Software Development
        </li>

        <li (click)="navigateTo('/mobileapplication')">
          <mat-icon>keyboard_arrow_right</mat-icon> Mobile Application
        </li>

        <li (click)="navigateTo('/seo')">
          <mat-icon>keyboard_arrow_right</mat-icon> SEO
        </li>

        <li (click)="navigateTo('/digitalmarketing')">
          <mat-icon>keyboard_arrow_right</mat-icon> Digital Marketing
        </li>

      </ul>
    </div>



    <div class="footer-column">
      <h4>Quick Links</h4>
      <ul>

        <!-- <li><mat-icon>keyboard_arrow_right</mat-icon> Features</li> -->
        <li (click)="navigateTo('/blogs')">
          <mat-icon>keyboard_arrow_right</mat-icon> Blog
        </li>
        <li (click)="navigateTo('/contact')">
          <mat-icon>keyboard_arrow_right</mat-icon> Contact us
        </li>
        <!-- <li><mat-icon>keyboard_arrow_right</mat-icon> FAQ</li> -->
      </ul>
      <h4>Privacy Policy & Terms</h4>
      <ul>
        <li (click)="navigateTo('/privacy')">
          <mat-icon>keyboard_arrow_right</mat-icon> Privacy Policy
        </li>
        <li (click)="navigateTo('/terms')">
          <mat-icon>keyboard_arrow_right</mat-icon> Terms & Conditions
        </li>
      </ul>
    </div>

    
    <div class="footer-column">
      <h4>Quick Links</h4>
      <ul>
        <li (click)="navigateTo('/about')">
          <mat-icon>keyboard_arrow_right</mat-icon> About Us
        </li>

        <li (click)="navigateTo('/directorMsg')">
          <mat-icon>keyboard_arrow_right</mat-icon> Director's Message
        </li>

        <li (click)="navigateTo('/ourteam')">
          <mat-icon>keyboard_arrow_right</mat-icon> Our Team
        </li>

        <li (click)="navigateTo('/visson')">
          <mat-icon>keyboard_arrow_right</mat-icon> Visson & Mission
        </li>

      </ul>
    </div>

    <div class="footer-column">
      <h4>Contact Info</h4>
      <address>
        <ul>
          <li>
            <p>
              <mat-icon> location_on</mat-icon>
              H - 138, Infinity Business Park, Sector
              63, Noida - 201301
            </p>
          </li>
          <li><mat-icon> email</mat-icon> <a href="mailto:sales@macreel.co.in"
              style="color: lightgray; text-decoration: none;"> {{'sales@macreel.co.in'}}</a> </li>
          <li><mat-icon> call</mat-icon> <a href="tel:+918368648746"
              style="color: lightgray; text-decoration: none;">+91 836 864 8746</a> </li>
          <li><mat-icon>language</mat-icon> www.macreel.co.in</li>
        </ul>
      </address>
    </div>
  </div>

  <div class="social-icons">
    <a href="https://www.facebook.com/Macreelinfosoftpvtltd" target="_blank">
      <img src="../../../assets/facebook.png" alt="macreel facebook" title="Facebook" />
    </a>
    <a href="https://www.instagram.com/macreel_infosoft/" target="_blank">
      <img src="../../../assets/instagram.png" alt="macreel instagram" title="Instagram" />
    </a>
    <a href="https://www.linkedin.com/company/macreel-infosoft-pvt-ltd/" target="_blank">
      <img src="../../../assets/linkedin.png" alt="macreel linkedin" title="Linkedin" />
    </a>
    <a href="https://www.youtube.com/@macreelinfosoft563" target="_blank">
      <img src="../../../assets/youtube.png" alt="macreel youtube" title="Youtube" />
    </a>
    <a href="https://x.com/i/flow/login?redirect_after_login=%2FMacreel_Info" target="_blank">
      <img src="../../../assets/twitter.png" alt="macreel twitter" title="X.com" />
    </a>
    <a href="https://in.pinterest.com/macreelinfo/" target="_blank">
      <img src="../../../assets/pinterest.png" alt="macreel pinetrest" title="Pinetrest" />
    </a>
    <a href="https://macreel-infosoft.blogspot.com/" target="_blank">
      <img src="../../../assets/blogger.png" alt="macreel Blogger" title="Blogger" />
    </a>
  </div>
  <div class="footer-bottom">
    <p>© 2024 - 2025 Macreel Infosoft Pvt. Ltd., All rights reserved.</p>
  </div>
</footer>