<div class="blogs-area">
  <div class="title">
    <h6 class="head-title">Blogs For Business Growth</h6>
    <h4>
      Stay updated with Macreel Infosoft for latest insights and industry trends!
      Check topics on website design, digital marketing, mobile apps, software development and many more.
    </h4>
  </div>

  <div class="blogs-container">
    <div class="blog-card" *ngFor="let blog of blogs" (click)="onBlog(blog?.Title)">
      <img [src]="imgUrl + blog.ImagePath" class="card-img-top" [alt]="blog.Title" [title]="blog.Title" />
      <div class="card-body">
        <h6 class="card-title">{{ blog?.Title | titlecase }}</h6>
        <p class="card-date">{{ blog?.creationDate | date: 'mediumDate' }}</p>
        <p class="card-text" [innerHTML]="blog?.Description"></p>
      </div>
    </div>
  </div>
</div>