<div class="blogs-area">
  <div class="title">
    <h6 class="head-title">Blogs For Business Growth</h6>
    <h4>
      Stay updated with Macreel Infosoft for latest insights and industry trends!
      Check topics on website design, digital marketing, mobile apps, software development and many more.
    </h4>
  </div>

  <div class="blogs-container">
    <div class="blog-card" *ngFor="let blog of blogs">
      <img [src]="blog.image" class="card-img-top" [alt]="blog.alt" [title]="blog.title" />
      <div class="card-body">
        <h6 class="card-title">{{ blog.title }}</h6>
        <p class="card-text">{{ blog.description }}</p>
      </div>
    </div>
  </div>
</div>
